:root {
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--primary-font-family);
  font-size: 96px;
}
h2 {
  font-family: var(--secondary-font-family);
  font-size: 64px;
}
