:root {
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
  --branding-color: #f8f9fa;
  --secondary-color: #272142;
}

body {
  font-family: var(--secondary-font-family);
}

h1 {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 96px;
}

h2,
h3 {
  color: var(--secondary-color);
}
h2 {
  font-size: 36px;
  font-weight: bold;
}
h3 {
  font-size: 24px;
}
h4 {
  font-family: var(--primary-font-family);
}
p {
  font-size: 16px;
}
i {
  font-size: 24px;
}
footer {
  margin: 100px;
  padding: 100px;
  background-color: var(--branding-color);
}

.navbar-style {
  max-width: 1320px;
}

.hero {
  padding: 160px 0px 160px 0px;
  background-color: var(--branding-color);
  text-align: center;
}
.brief-description {
  font-size: 18px;
  text-align: center;
}

.basic-link,
.secondary-link {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  transition: 200ms ease-in-out;
  text-decoration: none;
  color: #000000;
}

.basic-link {
  margin-top: 30px;
  padding: 18px 30px 18px 30px;
}

.secondary-link {
  margin-top: 20px;
  padding: 10px 22px 10px 22px;
}

.basic-link:hover,
.secondary-link:hover {
  color: var(--branding-color);
  background-color: var(--secondary-color);
}

.tech-stack {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: );
