:root {
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Lato", sans-serif;
  --branding-color: #f8f9fa;
  --secondary-color: #212529;
  --accent-color: #568265;
  --attention-color: #e24a63;
}

body {
  font-family: var(--secondary-font-family);
}

h1 {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 96px;
}

h2,
h3 {
  color: var(--secondary-color);
}
h2 {
  font-size: 36px;
  font-weight: bold;
}
h3 {
  font-size: 24px;
}
h4 {
  font-family: var(--primary-font-family);
}
h5 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 24px;
  padding-top: 20px;
}
p {
  font-size: 16px;
}
i {
  font-size: 30px;
  color: var(--secondary-color);
}

footer {
  margin-top: 120px;
}

.navbar-style {
  max-width: 1320px;
}

.navbar-brand {
  font-family: var(--primary-font-family);
}

.contact-box {
  margin-bottom: 120px;
  padding: 100px;
  background-color: var(--branding-color);
  border-radius: 14px;
  max-width: 720px;
}

.contact-box h4 {
  margin-bottom: 0px;
  align-self: center;
}

.contact-box i,
.back-arrow i {
  background: var(--branding-color);
  padding: 14px 14px;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.contact-box i:hover,
.back-arrow i:hover {
  background: var(--secondary-color);
  color: var(--branding-color);
}

.banner {
  background-color: var(--accent-color);
  padding: 20px;
}

.banner p {
  color: var(--branding-color);
}

.banner a {
  color: var(--branding-color);
  text-decoration: none;
  font-weight: 700;
}

.hero {
  padding: 160px 0px 160px 0px;
  background-color: var(--branding-color);
  text-align: center;
}
.brief-description {
  font-size: 18px;
  text-align: center;
}

.launchAppLink {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.accordion,
.accordion-title {
  max-width: 80%;
}

.location-info,
.additional-info {
  opacity: 0.7;
  font-size: 14px;
}

.title-role,
.accordion-title {
  text-transform: uppercase;
  font-weight: 700;
  padding: 6px;
}
.additional-info {
  margin-bottom: 1%;
}

.accordion-button:not(.collapsed) {
  background-color: var(--accent-color);
  color: white;
}

button.accordion-button:focus {
  box-shadow: none;
}

.projects-section {
  padding-top: 100px;
}

.projects img {
  border-radius: 20px;
}

.content-container {
  padding-top: 160px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-container h3 {
  font-size: 18px;
}
.content-container img {
  max-height: 400px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.tech-stack {
  max-width: 650px;
  margin: 0 auto;
  display: block;
  padding-top: 20px;
}

.basic-link,
.secondary-link {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  transition: 200ms ease-in-out;
  text-decoration: none;
}

.basic-link {
  padding: 18px 30px 18px 30px;
  background-color: var(--secondary-color);
  color: var(--branding-color);
}
.basic-link:hover {
  color: var(--secondary-color);
  background-color: var(--branding-color);
}

.secondary-link {
  margin-top: 20px;
  padding: 10px 22px 10px 22px;
  color: var(--secondary-color);
  background-color: var(--branding-color);
}
.secondary-link:hover {
  color: var(--branding-color);
  background-color: var(--secondary-color);
}

.discreet-link {
  color: var(--secondary-color);
  font-weight: 700;
}

.photo-portrait {
  max-height: 400px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.project {
  padding-top: 20px;
}

.info-banner {
  background-color: var(--branding-color);
  border-radius: 14px;
}

.popup,
.work-popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.popup-content,
.work-popup-content {
  background-color: white;
  border: 1px solid #888888;
}

.work-popup-content {
  margin: 6% auto;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
  border-radius: 14px;
  width: 100%;
}

.popup-content {
  margin: 7% auto;
  width: 80%;
  font-weight: bolder;
}

.popup-content button {
  display: block;
  padding: 12px 14px 12px 14px;
  margin: 10px auto;
}

.show {
  display: block;
}

.items,
.items2 {
  padding: 20px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.1s;
  transform: scale(0.98);
  will-change: transform;
  position: relative;
  perspective: 500px;
}

.items.active {
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item,
.item2 {
  display: flex;
  height: calc(100% - 40px);
  display: inline-flex;
  align-items: right;
  justify-content: center;
}

.item img,
.item2 img {
  -webkit-user-drag: none;
}

.about h1,
.work-popup-content h1 {
  font-size: 40px;
}

.about h2,
.work-popup-content h2,
.work-popup-content h5 {
  font-size: 18px;
}

.contact h5 {
  color: var(--attention-color);
}

.contact a {
  color: var(--secondary-color);
  font-size: 20px;
  text-decoration: none;
}
.contact i {
  font-size: 20px;
}
@media (max-width: 570px) {
  h1,
  .content-container h1 {
    font-weight: bold;
    font-size: 46px;
    line-height: 60px;
  }
  h2 {
    font-size: 22px;
    font-weight: bold;
  }
  h3,
  .content-container h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
    padding: 0 4px 0 4px;
  }

  i {
    font-size: 26px;
  }

  .contact-box {
    margin: 60px 0px 50px 0px;
    padding: 20px;
  }

  .hero,
  .content-container {
    padding: 80px 5px 0px 5px;
    text-align: center;
    min-height: 350px;
  }
  .brief-description {
    font-size: 16px;
  }
  .basic-link {
    margin-top: 60px;
    padding: 12px 14px 12px 14px;
  }

  .secondary-link {
    margin-top: 20px;
    padding: 8px 14px 8px 14px;
  }

  .tech-stack div {
    margin: 20px 0px 0px;
  }

  .projects {
    margin-top: 0px;
    text-align: center;
  }
  .projects img {
    max-width: 60%;
    margin: 20px 0 20px;
  }

  .photo-portrait {
    max-height: 200px;
    margin: 30px 0 30px;
  }

  .project {
    padding-top: 10px;
  }

  .bio {
    margin: 20px 30px 0 30px;
  }
}
